/*START HTML,BODY*/
* {
	box-sizing: border-box;
}

html,body
{
    margin:0;
    padding: 0;
    width: 100%;
  
}

h1 {
	text-align: center;
}

#app {
	
	width: 100%;
}

/*END OF HTML,BODY*/

/* START NAVBAR */
.navbar
{
    background-color: black;
    justify-content: flex-end;   
    width: 100%;
    z-index:99999;
  
    position: fixed;
}

/* Dropdown Button */

.dropbtn {
    
 background-color: transparent;
  border: none;
  justify-content: flex-end;
  width:100%;

  
}
.linie-buton {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  justify-content: flex-end;
  
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color:whitesmoke;
  font-family: 'Montserrat', sans-serif;
  min-width: 160px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  z-index: 100;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 100;
}


.dropdown-content a:hover {background-color: #ddd; z-index: 100;}


.dropdown:hover .dropdown-content {display: block;z-index: 100;}

/*END Dropdown Button*/

/* END NAVBAR */


/*START COVER*/

.cover
{
    
    width: 100%;
    height: 20em;
    display: table; 

    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    
    
}

.cover p{
    flex-direction: column;
    text-align:center; 
    vertical-align: middle;
    display: table-cell; 
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    
}

/*END COVER*/

/*START ABOUT-ME*/

.about-container{
    
    display: table;
    width:100%;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    margin-bottom: 5em;

}
.text{

    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding-right: 100px;
    padding-left: 100px;
    
}
.text p{
    text-align: justify;
    
    
}

.imag{
   
    width: 35%;
    text-align: center;

}

/*END ABOUT-ME*/


/*START TIMELINE*/

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    text-align: justify;
    margin-bottom: 5em;
}

.timeline-container::after {
    background-color: #e17b77;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
}

.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
    text-align: justify;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    width: 410px;
    max-width: 100%;
    text-align: right;
}

.timeline-item-content::after {
    content: ' ';
    background-color: #fff;
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: -7.5px;
    top: calc(50% - 7.5px);
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    text-align: justify;
    
}

.timeline-item-content a {
	color: #333;
	text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.timeline-item-content a::after {
    content: ' ►';
    font-size: 12px;
}

.timeline-item-content .circle {
    background-color: #fff;
    border: 3px solid #e17b77;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    right: -40px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -40px;
}

@media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item:nth-child(odd) {
        align-self: flex-end;
        justify-content: flex-start;
        padding-left: 0; 
        padding-right: 0;
    }

    .timeline-item-content::after {
        display: none;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

    .timeline-item-content a {
        text-decoration: underline;
    }

    .circle{
        display: none;
    }

    .timeline-item{
        display: flex;
       padding: 0;
        position: relative;
        margin: 10px 0;
        width: 100%;
        text-align: justify;
    }
    .timeline-container::after {
        background-color: transparent;
        content: '';
        position: absolute;
        left: calc(50% - 2px);
        width: 4px;
        height: 100%;
    }
    .timeline-item-content a::after {
        display: none;
    }
    .imag{
        display: none;
        text-align: center;
        border-radius: 50%;
    }

    .text{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .spatiu{
        display: none;
    }

}

/*END TIMELINE*/

/*START FOOTER*/

.footer{
    margin-top: 5em;
    padding: 3em;
    background-color: black;
    text-align: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .icon{
      color: black;
        text-align: center;
        justify-content: space-around;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        
  }

  .footer p{
      color: white;
      font-size: 16px;
  }

  /*END FOOTER*/

* {
    box-sizing: border-box;
  }
  
  
  /*START CARDS*/
  
  .page-content {
    display: grid;
    grid-gap: 1rem;
  
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
  }
  
  :root {
      --d: 700ms;
      --e: cubic-bezier(0.19, 1, 0.22, 1);
    
    }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  .card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;

  
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  
  
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  .content > * + * {
    margin-top: 1rem;
  }
  
  .title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .copy {
    font-family: var(--font-serif);
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.35;
  }
  
  
  
  @media (hover: hover) and (min-width: 600px) {

    .card:nth-child(1):before {
      background-image: url(https://image.freepik.com/free-vector/books-stack-realistic_1284-4735.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.6;
    }
    .card:nth-child(2):before {
      background-image: url(https://image.freepik.com/free-vector/university-student-cap-mortar-board-diploma_3446-334.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.6;
    }
    .card:nth-child(3):before {
      background-image: url(https://image.freepik.com/free-vector/language-learning-camp-abstract-concept-illustration_335657-3920.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.6;
    }

    .card:nth-child(4):before {
      background-image: url(https://image.freepik.com/free-vector/colourful-illustration-programmer-working_23-2148281410.jpg);
      background-size: contain;
      
      background-repeat: no-repeat;
      opacity: 0.6;
    }

    .card:after {
      transform: translateY(0);
    }
  
    .content {
      transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
  
    .card:hover,
  .card:focus-within {
      align-items: center;
    }
    .card:hover:before,
  .card:focus-within:before {
      transform: translateY(-4%);
    }
    .card:hover:after,
  .card:focus-within:after {
      transform: translateY(-50%);
    }
    .card:hover .content,
  .card:focus-within .content {
      transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }
  
    .card:focus-within:before, .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
      transition-duration: 0s;
    }


    
  }

  /*END CARDS*/